USE [db858d5789ed564b0c9364a73301643bf4]
GO
/****** Object:  Table [dbo].[items]    Script Date: 2019-09-19 1:17:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[cost] [int] NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[subtype] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_loot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[items] ON 

INSERT [dbo].[items] ([id], [name], [description], [cost], [type], [subtype]) VALUES (0, N'Gold Coins', N'Standard currency', 1, N'', N'')
INSERT [dbo].[items] ([id], [name], [description], [cost], [type], [subtype]) VALUES (1, N'Gnome Mining Helmet', N'Looks like a Fez', 10, N'', N'')
INSERT [dbo].[items] ([id], [name], [description], [cost], [type], [subtype]) VALUES (2, N'Fishing Rod', N'Used to capture fish you can trade at fish markets to gain magic items.', 125, N'Consumable', N'')
GO
SET IDENTITY_INSERT [dbo].[items] OFF
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_loot_description]  DEFAULT ('') FOR [description]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_loot_qty]  DEFAULT ((0)) FOR [cost]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_items_type]  DEFAULT ('') FOR [subtype]
GO
