USE [db858d5789ed564b0c9364a73301643bf4]
GO
/****** Object:  Table [dbo].[recipieIngredients]    Script Date: 2019-09-19 1:17:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipieIngredients](
	[recipieID] [int] NOT NULL,
	[ingredient] [int] NOT NULL,
	[qty] [int] NOT NULL,
 CONSTRAINT [PK_recipieIngredients] PRIMARY KEY CLUSTERED 
(
	[recipieID] ASC,
	[ingredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[recipieIngredients] ([recipieID], [ingredient], [qty]) VALUES (1, 59, 10)
INSERT [dbo].[recipieIngredients] ([recipieID], [ingredient], [qty]) VALUES (1, 609, 1)
INSERT [dbo].[recipieIngredients] ([recipieID], [ingredient], [qty]) VALUES (2, 160, 4)
GO
