USE [db858d5789ed564b0c9364a73301643bf4]
GO
/****** Object:  Table [dbo].[inventoryHistory]    Script Date: 2020-03-28 12:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventoryHistory](
	[inventoryId] [int] NOT NULL,
	[itemId] [int] NOT NULL,
	[modificationDate] [datetime] NOT NULL,
	[location] [varchar](50) NOT NULL,
	[qty] [int] NOT NULL,
	[note] [varchar](max) NOT NULL,
	[clientName] [varchar](15) NOT NULL,
 CONSTRAINT [PK_inventoryHistory] PRIMARY KEY CLUSTERED 
(
	[inventoryId] ASC,
	[itemId] ASC,
	[modificationDate] ASC,
	[location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[inventoryHistory] ([inventoryId], [itemId], [modificationDate], [location], [qty], [note], [clientName]) VALUES (0, 0, CAST(N'2017-06-23T03:46:01.097' AS DateTime), N'Left Behind', -800, N'', N'TABLET-VU4AIC8U')
INSERT [dbo].[inventoryHistory] ([inventoryId], [itemId], [modificationDate], [location], [qty], [note], [clientName]) VALUES (0, 0, CAST(N'2017-06-23T03:49:58.353' AS DateTime), N'Left Behind', -60, N'', N'TABLET-VU4AIC8U')
INSERT [dbo].[inventoryHistory] ([inventoryId], [itemId], [modificationDate], [location], [qty], [note], [clientName]) VALUES (1, 0, CAST(N'2017-04-23T21:46:58.717' AS DateTime), N'On Hand', -750, N'', N'TABLET-VU4AIC8U')
GO
