USE [db858d5789ed564b0c9364a73301643bf4]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 2020-02-29 9:49:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[itemId] [int] NOT NULL,
	[location] [varchar](50) NOT NULL,
	[qty] [int] NOT NULL,
 CONSTRAINT [PK_inventory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[inventory] ON 

INSERT [dbo].[inventory] ([id], [itemId], [location], [qty]) VALUES (0, 0, N'Left Behind', 45)
INSERT [dbo].[inventory] ([id], [itemId], [location], [qty]) VALUES (1, 0, N'On Hand', 4896)
INSERT [dbo].[inventory] ([id], [itemId], [location], [qty]) VALUES (2, 1, N'Left Behind', 1)
GO
SET IDENTITY_INSERT [dbo].[inventory] OFF
