USE [db858d5789ed564b0c9364a73301643bf4]
GO
/****** Object:  Table [dbo].[recipies]    Script Date: 2019-09-19 1:17:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipies](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[result] [int] NOT NULL,
	[resultQty] [int] NOT NULL,
	[profession] [varchar](max) NOT NULL,
	[crafterLevel] [varchar](max) NOT NULL,
 CONSTRAINT [PK_recipies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[recipies] ON 

INSERT [dbo].[recipies] ([id], [result], [resultQty], [profession], [crafterLevel]) VALUES (1, 60, 1, N'Jewelcrafter', N'1 Novice')
INSERT [dbo].[recipies] ([id], [result], [resultQty], [profession], [crafterLevel]) VALUES (2, 122, 1, N'Blacksmithing', N'0 Beginner')
INSERT [dbo].[recipies] ([id], [result], [resultQty], [profession], [crafterLevel]) VALUES (3, 160, 1, N'Gardening', N'0 Beginner')
GO
SET IDENTITY_INSERT [dbo].[recipies] OFF
