USE [db858d5789ed564b0c9364a73301643bf4]
GO
/****** Object:  Table [dbo].[importedRecipies]    Script Date: 2019-05-28 7:16:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[importedRecipies](
	[Profession] [varchar](50) NULL,
	[result] [varchar](50) NULL,
	[resultQty] [varchar](50) NULL,
	[mat1] [varchar](50) NULL,
	[mat1Qty] [varchar](50) NULL,
	[mat2] [varchar](50) NULL,
	[mat2Qty] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 2019-05-28 7:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[cost] [int] NOT NULL,
	[usable] [bit] NOT NULL,
 CONSTRAINT [PK_loot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lootByLocation]    Script Date: 2019-05-28 7:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lootByLocation](
	[id] [int] NOT NULL,
	[location] [varchar](50) NOT NULL,
	[qty] [int] NOT NULL,
 CONSTRAINT [PK_lootByLocation] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipieIngredients]    Script Date: 2019-05-28 7:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipieIngredients](
	[recipieID] [int] NOT NULL,
	[ingredient] [int] NOT NULL,
	[qty] [int] NOT NULL,
 CONSTRAINT [PK_recipieIngredients] PRIMARY KEY CLUSTERED 
(
	[recipieID] ASC,
	[ingredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipies]    Script Date: 2019-05-28 7:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipies](
	[id] [int] IDENTITY(0,1) NOT NULL,
	[result] [int] NOT NULL,
	[resultQty] [int] NOT NULL,
	[profession] [varchar](max) NOT NULL,
	[crafterLevel] [varchar](max) NOT NULL,
 CONSTRAINT [PK_recipies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[importedRecipies] ([Profession], [result], [resultQty], [mat1], [mat1Qty], [mat2], [mat2Qty]) VALUES (N'BLACKSMITH', N'Copper Ingot', N'1', N'Copper Ore', N'4', N'', N'')
INSERT [dbo].[importedRecipies] ([Profession], [result], [resultQty], [mat1], [mat1Qty], [mat2], [mat2Qty]) VALUES (N'BLACKSMITH', N'Copper Rod', N'1', N'Copper Ore', N'1', N'', N'')
INSERT [dbo].[importedRecipies] ([Profession], [result], [resultQty], [mat1], [mat1Qty], [mat2], [mat2Qty]) VALUES (N'BLACKSMITH', N'Copper Rod', N'4', N'Copper Ingot', N'1', N'', N'')
SET IDENTITY_INSERT [dbo].[items] ON 

INSERT [dbo].[items] ([id], [name], [description], [cost], [usable]) VALUES (0, N'Gold Coins', N'Standard currency.', 1, 0)
INSERT [dbo].[items] ([id], [name], [description], [cost], [usable]) VALUES (1, N'Gnome Mining Helmet', N'Looks like a Fez', 10, 0)
INSERT [dbo].[items] ([id], [name], [description], [cost], [usable]) VALUES (2, N'Fishing Rod', N'Used to capture fish you can trade at fish markets to gain magic items.', 125, 1)
GO
SET IDENTITY_INSERT [dbo].[items] OFF
INSERT [dbo].[lootByLocation] ([id], [location], [qty]) VALUES (0, N'Left Behind', 45)
INSERT [dbo].[lootByLocation] ([id], [location], [qty]) VALUES (0, N'On Hand', 5600)
INSERT [dbo].[lootByLocation] ([id], [location], [qty]) VALUES (0, N'With Farmer', 3194)
GO
INSERT [dbo].[recipieIngredients] ([recipieID], [ingredient], [qty]) VALUES (1, 59, 10)
INSERT [dbo].[recipieIngredients] ([recipieID], [ingredient], [qty]) VALUES (1, 609, 1)
INSERT [dbo].[recipieIngredients] ([recipieID], [ingredient], [qty]) VALUES (2, 160, 4)
GO
SET IDENTITY_INSERT [dbo].[recipies] ON 

INSERT [dbo].[recipies] ([id], [result], [resultQty], [profession], [crafterLevel]) VALUES (1, 60, 1, N'Jewelcrafter', N'1 Novice')
INSERT [dbo].[recipies] ([id], [result], [resultQty], [profession], [crafterLevel]) VALUES (2, 122, 1, N'Blacksmithing', N'0 Beginner')
INSERT [dbo].[recipies] ([id], [result], [resultQty], [profession], [crafterLevel]) VALUES (3, 160, 1, N'Gardening', N'0 Beginner')
GO
SET IDENTITY_INSERT [dbo].[recipies] OFF
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_loot_description]  DEFAULT ('') FOR [description]
GO
ALTER TABLE [dbo].[items] ADD  CONSTRAINT [DF_loot_qty]  DEFAULT ((0)) FOR [cost]
GO
